body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h5 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
h4 {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
p {
    text-align: l;
}
div {
    background-color: white;
    padding: 15px;
    margin: 15px auto;
    width: 300px;
    border-radius: 8px;
}
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #333;
}
a {
    display: inline-block;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.infos {
    text-align: center; 
    margin-top: 10px; 
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.btn-presentation {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.btn-photo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.btn-qualitedefaut {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.btn-qualite {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.btn-defaut {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

}.bloc-qualites {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translateX(-50%);
    width: 600px;
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;        
}

.texte-qualites {
    text-align: center;
}
div img {
    width: 200%;
    max-width: 300px;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 6px;
}
h6 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px; 
}
.galerie {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.galerie img {
    width: 200%;
    max-width: 1000px;
    margin: 15px 0;
    border-radius: 10px;
}

.retour-bas {
    position: static;      
    transform: none;
    display: block;
    margin: 40px auto 20px auto; 
    width: fit-content;
}
#panier {
    position: fixed;
    top: 10px;
    right: 15px;
    background: black;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
}
#panier {
    position: fixed;
    top: 10px;
    right: 15px;
    background: black;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    text-decoration: none;
}

.produit {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

.produit img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 6px;
}

